* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Open Sans", sans-serif;
	font: normal 18px;
}

li {
	list-style: none;
}

a:hover {
	opacity: 1;
}
section {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 70px 50px;
	min-height: 100vh;
}

/* header */

header {
	background: black;
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px 100px;
	animation: 2s fadein 0.5s forwards;
	opacity: 0.02;
	width: 100%;
	z-index: 1;
}

header a {
	text-decoration: none;
	opacity: 0.4;
}

header nav {
	display: flex;
	margin-right: -10px;
}

header nav li {
	margin: 0 10px;
}

header nav li a {
	color: white;
}

header h1 {
	color: #78bbf9;
}

@keyframes fadein {
	100% {
		opacity: 1;
	}
}

/* landing Page Style */
.landing {
	position: relative;
	justify-content: center;
	text-align: center;
	min-height: 100vh;
}

.landing .background-color {
	background-color: #b4b4b4;
	background-size: cover;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -2;
}
.landing .background-image {
	background-size: cover;
	background-image: url(photos/landingPageImage.jpg);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	animation: 3s fadeInAndBlur 2s forwards;
	z-index: -1;
	filter: blur(0px);
}

@keyframes fadeInAndBlur {
	100% {
		opacity: 1;
		filter: blur(2px);
	}
}

.landing h1 {
	margin-bottom: 10px;
	color: white;
	text-shadow: 0px 0px 2px black, 0px 0px 3px black, 0px 0px 3px black;
}

.landing a {
	color: #78bbf9;
	text-shadow: 0px 0px 2px black, 0px 0px 3px black, 0px 0px 3px black;

	text-decoration: none;
}

/* About section */
.about p {
	display: flex;
}

#skills-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

#skills-container li {
	width: 100px;
	margin: 50px;
}
