html {
	scroll-behavior: smooth;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Open Sans", sans-serif;
	font: normal 18px;
}

li {
	list-style: none;
}

a:hover {
	opacity: 1;
	transition: .3s;
}
section {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 70px 50px;
}

section:not(.landing):nth-child(even) {
	background-color: #b4b4b4;
}

/* header */

header {
	background: black;
	position: absolute;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	padding: 10px 100px;
	animation: 2s fadein 0.5s forwards;
	opacity: 0;
	width: 100%;
	z-index: 1;
	position: fixed;
	right: 0;
	left: 0;
	top: 0;
	backdrop-filter: blur(3px);
}

header a {
	text-decoration: none;
	opacity: 1;
}

header nav {
	display: flex;
}

header nav li {
	margin: 0 10px;
}

header nav li a {
	color: white;
}

header h1 {
	color: #78bbf9;
}

@keyframes fadein {
	100% {
		opacity: 0.7;
	}
}

/* landing Page Style */
.landing {
	position: relative;
	justify-content: center;
	text-align: center;
	min-height: 100vh;
}

.landing .background-color {
	background-color: #b4b4b4;
	background-size: cover;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -2;
}
.landing .background-image {
	background-size: cover;
	background-image: url(files/landingPageImage.jpg);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	animation: 3s fadeInAndBlur 2s forwards;
	z-index: -1;
}

@keyframes fadeInAndBlur {
	100% {
		opacity: 1;
		filter: blur(4px);
	}
}

#landing-large-text {
	margin-bottom: 10px;
	color: white;
	text-shadow: 0px 4px 3px black, 0px 7px 10px black;
	margin-bottom: 300px;
	animation: 1s slidefade 3s forwards;
	opacity: 0;
}

.landing a {
	opacity: 0;
	animation: 1s slidefade 3s forwards;
}

@keyframes slidefade {
	100% {
		opacity: 1;
		margin: 0;
	}
}

.landing a {
	color: #78bbf9;
	text-shadow: 0px 4px 3px black, 0px 7px 10px black;
	text-decoration: none;
}

/* About section */
.about {
	display: flex;
	justify-content: space-between;
}

#skills-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

#skills-container li {
	width: 100px;
	margin: 20px 50px;
	text-align: center;
}

/* Projects section */
.projects-container {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: stretch;
	flex-wrap: wrap;
}

.projects-container div.card {
	margin: 30px;
	width: 20rem;
}

/* contact section */

section.contact {
	display: flex;
	flex-direction: row;
	padding: 30px 50px;
	flex-wrap: wrap;
}

section.contact div {
	padding: 30px;
}

#contact-links {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

#contact-links li {
	padding: 10px;
	flex-grow: 1;
}

@media (max-width: 600px) {
	#skills-container li {
		width: 50px;
		margin: 10px;
	}
	.projects-container div.card {
		margin: 10px;
		width: 20rem;
	}
	section {
		margin: 0px;
		padding: 10px;
	}
	section.contact {
		padding: 10px;
	}
}
